.newsDetailPage {
    display: grid;
    width: 100%;
    @media (max-width: 768px) {
        padding: 0 10px;
    }

    .newsDetailPageContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 100%;
        background: $primary-background;
        gap: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        margin: 8% auto;

        @media (max-width: 1020px) {
            width: auto;
        }

        @media (max-width: 912px) {
            width: 100%;
            margin-top: 15%;
            gap: 0;
        }
        @media (max-width: 868px) {
            display: flow;
            width: 100%;
        }
        @media (max-width: 468px) {
            display: flex;
        }

        .sidebarContainer {
            @media (max-width: 1368px) {
                display: flex;
                justify-content: center;
            }
            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    .mobileMenuIcon {
        position: absolute;
        display: none;
        cursor: pointer;
        left: 0;
        color: $primary-color;
        border-radius: 0 15px 15px 0;

        @media screen and (max-width: 1320px) {
            top: 120px;
            display: flex;
            box-sizing: border-box;
        }
        @media (max-width: 768px) {
            display: flex;
            box-sizing: border-box;
            top: 60px;
            background-color: #5db1ff;
            color: white;
            padding: 10px;
        }
    }

    .sideMenu {
        display: block;
        transition: transform 0.3s ease-in-out;
        border: none;
        height: auto;
        width: 360px;
        background-color: #2376d1;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        @media screen and (max-width: 1320px) {
            position: absolute;
            top: 40px;
            left: 0;
            width: 250px;
            height: 100%;

            transform: translateX(-100%);
            z-index: 500;
            overflow-y: auto;
        }
        @media screen and (max-width: 1052px) {
            position: absolute;
            top: 0;
            left: 0;
            width: 250px;
            height: 100%;
            transform: translateX(-100%);
            z-index: 1000;
            overflow-y: auto;
        }

        &.open {
            transform: translateX(0);
            -webkit-box-shadow: 7px 0px 5px -5px rgba(34, 60, 80, 0.6);
            -moz-box-shadow: 7px 0px 5px -5px rgba(34, 60, 80, 0.6);
            box-shadow: 7px 0px 5px -5px rgba(34, 60, 80, 0.6);
        }
    }

    .closeButton {
        display: none;

        @media (max-width: 768px) {
            display: block;
            background: none;
            border: none;
            cursor: pointer;
            position: absolute;
            top: 35px;
            right: 10px;
            font-size: 20px;
            color: $primary-color;
            transition:
                0.3s ease,
                transform,
                0.3s ease;
            &:hover {
                color: $primary-color-hover;
                transition:
                    0.3s ease,
                    transform,
                    0.3s ease;
            }
        }
    }

    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 500;
    }
    .newsCardContainer {
        margin-top: 10%;
        margin-left: 50px;

        @media (max-width: 968px) {
            margin: auto;
            display: grid;
            max-width: 80%;
            padding-top: 10%;
        }

        @media (max-width: 768px) {
            margin-left: 0;
            padding: 0 10px;
        }
        @media (max-width: 468px) {
            display: contents;
        }
        h3 {
            padding: 0 0 40px 0;
            text-align: center;

            @media (max-width: 768px) {
                margin-bottom: 10px;
            }
        }
    }

    .videoSliderContainer {
        margin: auto;
        max-width: 100%;
        max-height: 340px;
        overflow: hidden;
        @media (max-width: 1368px) {
            max-width: 90%;
        }
        @media (max-width: 968px) {
            max-width: 80%;
        }

        @media (max-width: 768px) {
            max-width: 100%;
            padding: 0 10px;
        }
    }

    .newsGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-items: center;

        @media (max-width: 1324px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }

        @media (max-width: 480px) {
            grid-template-columns: 1fr;
        }
    }

    .newsDetail {
        width: 100%;
        max-width: 100%;
        padding: 30px;
        background-color: transparent;
        margin: 0 auto 5%;

        @media (max-width: 912px) {
            padding: 20px;
        }

        @media (max-width: 768px) {
            padding: 10px;
        }

        .title {
            font-family: 'RussiaMedium', Arial, sans-serif;
            font-size: 2rem;
            margin-bottom: 1rem;
            font-weight: bolder;
            color: #222;

            @media (max-width: 768px) {
                font-size: 1.5rem;
            }
        }

        .meta {
            display: flex;
            justify-content: space-between;
            font-size: 0.9rem;
            color: #555;
            width: 100%;
            max-width: 100%;
            padding-bottom: 3%;

            @media (max-width: 768px) {
                font-size: 0.8rem;
                flex-direction: column;
                gap: 10px;
            }

            span {
                margin-right: 1rem;
            }
        }

        .newsImage {
            width: 815px;
            height: 500px;
            display: block;
        }

        .content {
            font-size: 1.2rem;
            line-height: 1.6;
            margin-top: 0;
            width: 100%;
            display: grid;
            gap: 1rem;
            margin-left: 0;

            @media (max-width: 768px) {
                width: 100%;
            }

            p {
                margin-bottom: 1rem;
            }
        }
    }

    .otherMediaWrapper,
    .videoWrapper {
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        border-radius: 8px;
        margin-bottom: 20px;

        @media (max-width: 768px) {
            max-width: 100%;
        }
    }
}
