
.newsDetailPage {
    display: grid;

    @media (max-width: 768px) {
        padding: 0 10px;
    }

    .newsDetailPageContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 100%;
        background: $primary-background;
        gap: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        margin: 8% auto;

        @media (max-width: 1268px) {
            display: grid;
        }

        @media (max-width: 912px) {
            width: 100%;
            margin-top: 0;
            gap: 0;
        }

        .sidebarContainer {
            @media (max-width: 1368px) {
                display: flex;
                justify-content: center;
            }
            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    .newsCardContainer {
        margin-top: 10%;
        margin-left: 50px;

        @media (max-width: 968px) {
            margin: auto;
            display: grid;
            max-width: 80%;
            padding-top: 10%;
        }

        @media (max-width: 768px) {
            margin-left: 0;
            padding: 0 10px;
        }
        @media (max-width: 468px) {
           display: contents;
        }
        h3 {
            padding: 0 0 40px 0;
            text-align: center;

            @media (max-width: 768px) {
                margin-bottom: 10px;
            }
        }
    }

    .videoSliderContainer {
        margin: auto;
        max-width: 100%;
        max-height: 340px;
        overflow: hidden;
        @media (max-width: 1368px) {
            max-width: 90%;
        }
        @media (max-width: 968px) {
            max-width: 80%;
        }

        @media (max-width: 768px) {
            max-width: 100%;
            padding: 0 10px;
        }
    }

    .newsGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-items: center;

        @media (max-width: 1324px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }

        @media (max-width: 480px) {
            grid-template-columns: 1fr;
        }
    }

    .newsDetail {
        width: 100%;
        max-width: 100%;
        padding: 30px;
        background-color: transparent;
        margin: 0 auto 5%;

        @media (max-width: 912px) {
            padding: 20px;
        }

        @media (max-width: 768px) {
            padding: 10px;
        }

        .title {
            font-family: 'RussiaMedium', Arial, sans-serif;
            font-size: 2rem;
            margin-bottom: 1rem;
            font-weight: bolder;
            color: #222;

            @media (max-width: 768px) {
                font-size: 1.5rem;
            }
        }

        .meta {
            display: flex;
            justify-content: space-between;
            font-size: 0.9rem;
            color: #555;
            width: 100%;
            max-width: 100%;
            padding-bottom: 3%;

            @media (max-width: 768px) {
                font-size: 0.8rem;
                flex-direction: column;
                gap: 10px;
            }

            span {
                margin-right: 1rem;
            }
        }

        .newsImage {
            width: 100%;
            height: auto;
            display: block;
        }

        .content {
            font-size: 1.2rem;
            line-height: 1.6;
            margin-top: 0;
            width: 100%;
            display: grid;
            gap: 1rem;
            margin-left: 0;

            @media (max-width: 768px) {
                width: 100%;
            }

            p {
                margin-bottom: 1rem;
            }
        }
    }

    .otherMediaWrapper,
    .videoWrapper {
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        border-radius: 8px;
        margin-bottom: 20px;

        @media (max-width: 768px) {
            max-width: 100%;
        }
    }
}
