.liveStreamPage {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
}

.liveStreamPageContainer {
  max-width: 100%;
  height: auto;
}

.liveStreamIframe {
  max-width: 800px;
  border: none;
}