.liveStreamPage {
    padding: 5px;
    background-color: #f4f4f4;
    margin: 0 auto 0 auto;
    width: 100%;
    max-width: 100%;
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.liveStreamContainer {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.iframeContainer {
    width: 100%;
    max-width: 100%;
    margin: 0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
