@use 'sass:color';

.header {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    -webkit-box-shadow: 0px 12px 25px -5px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 12px 25px -5px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 12px 25px -5px rgba(0, 0, 0, 0.26);
    z-index: 1000;
    background-color: $primary-background-header;
    color: $primary-color-header;
    transition: height 0.3s ease;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (max-width: 1026px) {
        padding: 0 10px;
    }
    @media screen and (max-width: 820px) {
        margin: 0;
        padding: 0 10px;
        max-width: 100%;
        left: 0;
        transform: translateX(0);
        box-sizing: border-box;
        height: 50px;
        line-height: 0;
        -webkit-box-shadow: 0px 12px 8px -5px rgba(0, 0, 0, 0.26);
        -moz-box-shadow: 0px 12px 8px -5px rgba(0, 0, 0, 0.26);
        box-shadow: 0px 12px 8px -5px rgba(0, 0, 0, 0.26);
    }
    .logoContainer {
        height: 80px;
        line-height: 80px;
    }
    .navContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        padding: 0 20px 0 20px;

        @media screen and (max-width: 1052px) {
            padding: 0;
        }
        @media screen and (max-width: 860px) {
            height: 50px;
            padding: 0 10px 0 10px;
        }
        &.hide {
            display: none;
        }
    }

    .login,
    .searchIcon {
        cursor: pointer;
        position: relative;
        padding: 10px 15px;
        color: $primary-color-header;
        transition:
            color 0.3s ease,
            transform 0.3s ease;
        height: 44px;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -5px;
            height: 2px;
            background-color: $primary-color-hover-header;
            transform: scaleX(0);
            transition: transform 0.3s ease;
        }

        &:hover {
            color: $primary-color-hover-header;

            &::after {
                transform: scaleX(1);
            }
        }

        svg {
            color: inherit;
        }

        &.active {
            color: $primary-color-hover-header;

            &::after {
                transform: scaleX(1);
            }
        }
    }

    .mobileIcons {
        display: none;
        align-items: center;
    }

    .hamburgerMenu {
        display: none;
        cursor: pointer;
    }

    .nav {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        line-height: 80px;

        .navList {
            list-style: none;
            display: flex;
            gap: 10px;
            line-height: 80px;
            margin: 0;

            li {
                position: relative;

                a {
                    text-decoration: none;
                    font-weight: 500;
                    color: $primary-color-header;
                    line-height: 80px;
                    position: relative;
                    padding: 10px;
                    gap: 5px;
                    transition:
                        0.3s ease,
                        transform 0.3s ease;

                    @media screen and (max-width: 1244px) {
                        font-size: 15px;
                        padding: 2px;
                        gap: 5px;
                    }

                    @media screen and (max-width: 856px) {
                        font-size: 14px;
                        padding: 5px;
                        gap: 0;
                        line-height: 50px;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: -5px;
                        height: 2px;
                        background-color: $primary-color-hover-header;
                        transform: scaleX(0);
                        transition: transform 0.3s ease;
                    }

                    &:hover {
                        color: $primary-color-hover-header;

                        &::after {
                            transform: scaleX(1);
                        }
                    }

                    &.active {
                        color: $primary-color-hover-header;

                        &::after {
                            transform: scaleX(1);
                        }
                    }
                }
            }
            .live {
                background: #cd151c;
                a:hover {
                    color: #dddddd;
                }
                a.active {
                    color: #dddddd;
                    line-height: 50px;
                }
                a {
                    line-height: 50px;
                    &.active {
                        color: $primary-background;

                        &::after {
                            transform: scaleX(1);
                            background-color: $primary-color-header;
                        }
                    }
                }
            }
        }
    }
    .searchOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        border-bottom: 2px solid #0044cc;
        background-color: color.adjust(
            $primary-background-header,
            $lightness: 5%
        );
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1100;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-100%);
        transition:
            visibility 0.3s,
            opacity 0.3s,
            transform 0.3s;
        -webkit-box-shadow: 0px 12px 8px -5px rgba(0, 0, 0, 0.26);
        -moz-box-shadow: 0px 12px 8px -5px rgba(0, 0, 0, 0.26);
        box-shadow: 0px 12px 8px -5px rgba(0, 0, 0, 0.26);

        &.show {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }

        &.hide {
            visibility: hidden;
            opacity: 0;
            transform: translateY(-100%);
            pointer-events: none;
        }

        .searchForm {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 0 20px;

            @media screen and (max-width: 768px) {
                padding: 0 40px 0 20px;
            }
            .searchInput {
                flex: 1;
                height: 100%;
                padding: 0 20px;
                font-size: 24px;
                border: none;
                outline: none;
                background-color: transparent;
                color: $primary-color-header;

                @media screen and (max-width: 768px) {
                    padding: 0;
                }
                &::placeholder {
                    color: $primary-color-header;
                    opacity: 0.7;
                }
            }

            .searchButtons {
                display: flex;
                align-items: center;
                gap: 15px;

                @media screen and (max-width: 768px) {
                    gap: 10px;
                    margin-left: -15px;
                }

                .searchButton,
                .closeButton {
                    background: none;
                    border: none;
                    cursor: pointer;
                    color: $primary-color-header;

                    svg {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1020px) {
    .header {
        .logoContainer {
            width: 25%;
            height: 80px;
            line-height: 80px;
        }
        .login,
        .searchIcon {
            display: none;
        }

        .mobileIcons {
            display: flex;
            align-items: center;
            gap: 20px;

            svg {
                width: 25px;
                height: 25px;
            }
        }

        .hamburgerMenu {
            display: block;
        }
        .nav {
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            flex-direction: column;
            position: absolute;
            top: 79px;
            right: 0;
            width: 100%;
            background-color: $primary-background-header;
            z-index: 999;
            transition:
                max-height 0.5s ease,
                opacity 0.5s ease;

            .navList {
                gap: 10px;
                display: grid;
                line-height: 50px;
            }
        }

        .nav.open {
            max-height: 100vh;
            opacity: 1;
            display: flex;
            -webkit-box-shadow: 0px 12px 8px -5px rgba(0, 0, 0, 0.26);
            -moz-box-shadow: 0px 12px 8px -5px rgba(0, 0, 0, 0.26);
            box-shadow: 0px 12px 8px -5px rgba(0, 0, 0, 0.26);
        }

        .navList li {
            padding: 0 30px;
            gap: 0;
            line-height: 50px;
        }

        .navList li a {
            text-align: left;
            gap: 0;
            font-size: 18px;
            color: $primary-color-header;
            text-decoration: none;
            transition: background-color 0.3s ease;
            line-height: 50px;
        }

        .navList li a:hover {
            background-color: transparent;
        }

        .logo {
            flex: 1;
        }
    }
    .overlay {
        position: fixed;
        top: 80px;
        left: 0;
        width: 100vw;
        height: calc(150vh - 150px);
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 900;
    }
}
@media screen and (max-width: 768px) {
    .login,
    .searchIcon {
        display: none;
    }
    .mobileIcons {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .hamburgerMenu {
        display: block;
    }
    .nav {
        display: none;
    }
    .nav.open {
        max-height: 100vh;
        opacity: 1;
        top: 49px;
    }

    .navList {
        display: flex;
        flex-direction: column;
        gap: 0;
        width: 100%;
        padding: 0;
        list-style: none;
        line-height: 50px;

        li {
            padding: 0 10px;
            gap: 0;
            height: 50px;
            line-height: 50px;

            a {
                text-align: left;
                gap: 0;
                font-size: 18px;
                color: $primary-color-header;
                text-decoration: none;
                transition: background-color 0.3s ease;
                padding: 10px;
                line-height: 50px;

                &:hover {
                    background-color: transparent;
                }
            }
        }
    }

    .logo {
        flex: 1;
    }
}
