.RadioPlayerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow:
        0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 100vh;
    text-align: center;
    margin-top: 5%;

    h2 {
        padding: 20px;
        width: 100%;
        text-align: center;
    }
    h3 {
        display: grid;
    }
}

.TrackList {
    list-style: none;
    padding: 5% 0;
    width: 100%;
    margin: 0;
    gap: 10px;
}

.trackItemContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.2s;
    height: 60px;
    padding: 0 1rem;

    &:hover {
        background-color: #e0e0e0;
    }

    &.active {
        color: #007bff;
        font-weight: bold;
    }

    .trackItem {
        display: flex;
        align-items: center;
        padding: 0.5rem;
        width: 100%;
        margin-left: 0.5rem;
    }

    svg {
        flex-shrink: 0;
    }
}

.Button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #0056b3;
    }
}

.radioPlayer {
    width: 100%;
    display: grid;

    h2 {
        color: #333333;
        font-family: 'RussiaMedium';
        text-align: center;
    }
}
