@import '../../../../shared/styles/variables';
@import '../../../../shared/styles/mixins';


.logo {
  font-size: 30px;
  font-weight: bold;
  color: $primary-color;
  width: 30%;
  a {
    text-decoration: none;
    color: inherit;
  }

  span {
    color: white;
    background-color: $primary-color;
    padding: 0 4px;
    margin-left: 5px;
    text-align: center;
    border-radius: 2px;
  }
}
@media screen and (max-width: 920px) {
  .logo {
    font-size: 25px;
    width: 25%;
  }
}
@media screen and (max-width: 720px) {
  .logo {
    font-size: 20px;
  }
}