.footerContacts {
    width: 25rem;
    @media screen and (max-width: 820px) {
        width: 100%;
    }
    p {
        margin: 0 0 10px;
        font-size: 16px;

        @media screen and (max-width: 820px) {
            width: 100%;
            max-width: 83%;
            margin: 0 0 10px;
            font-size: 16px;
            box-sizing: border-box;
        }
        @media screen and (max-width: 520px) {
            font-size: 14px;
        }
    }
    a {
        @media screen and (max-width: 520px) {
            font-size: 14px;
        }
    }
    a:hover {
        color: white;
        text-shadow: 2px 2px 10px red;
        padding: 10px;
        filter: dropshadow(color=#000000, offx=2, offy=2);
    }
}
