$primary-color: #0095da;
$primary-color-hover: #007bff;
$primary-background: #f8f9fa;
$primary-background-header: #2376d1;
$primary-color-header: #ffffff;
$primary-color-hover-header: #072e63;
$error-color: #e74c3c;
$text-color: #333;
$input-border-color: #ccc;
