.sidebar {
    background-color: $primary-background;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 25rem;
    position: relative;
    p {
        font-size: 14px;
    }
    @media screen and (max-width: 1244px) {
        max-width: 25rem;
    }
    @media (max-width: 968px) {
        max-width: 30rem;
    }
    @media (max-width: 568px) {
        width: 90%;
        margin: auto;
    }
}

.categoryTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    text-transform: uppercase;
}

.newsList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.newsItem {
    margin-bottom: 15px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    height: 200px;
}

.newsLink {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    color: white;
}

.newsImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.newsItem:hover .newsImage {
    transform: scale(1.05);
}

.playButton {
    position: absolute;
    top: 20%;
    left: 12%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    opacity: 0.8;
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
    z-index: 2;

    &:hover {
        color: #0044cc;
        transform: translate(-50%, -50%) scale(1.1);
    }

    svg {
        cursor: pointer;
    }
}

.newsOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-end;
    padding: 10px;
    box-sizing: border-box;
}

.newsTitle {
    font-size: 1rem;
    line-height: 1.3;
    color: white;
    margin: 0;
    padding: 10px;
}

.listedNewsContainer {
    position: sticky;
    top: 100px;
}

@media (max-width: 768px) {
    .listedNewsContainer {
        position: static;
    }
}
