.projectDetail {
    flex: 1;
    padding: 30px;
    background-color: transparent;
    margin: 0 auto 5%;

    @media (max-width: 768px) {
        padding: 0;
        width: 100%;
        margin: 0;
    }
    @media (max-width: 568px) {
        padding: 0;
        width: 100%;
        max-width: 95%;
        margin-top: 20%;
    }
}
.videoWrapper {
    width: 100%;
    height: auto;
}
.mediaSection {
    width: 100%;
    max-width: 100%;
}
.projectVideoContainer {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.projectVideo {
    width: 100%;
    height: 500px;
    border-radius: 8px;
    @media (max-width: 768px) {
        width: 100%;
        height: 200px;
        border-radius: 8px;
    }
}
.imageWrapper,
.videoWrapper {
    width: 100%;
    height: 500px;
    max-width: 80%;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 20px;
    display: grid;
    gap: 15px;

    @media (max-width: 768px) {
        max-width: 100%;
    }
    @media (max-width: 568px) {
        max-width: 100%;
        height: 300px;
    }
    @media (max-width: 468px) {
        max-width: 100%;
        height: 200px;
    }
}

.otherMediaWrapper {
    width: 100%;
    height: auto;
    max-width: 100%;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 20px;
    display: grid;
    gap: 15px;

    @media (max-width: 768px) {
        max-width: 80%;
    }
}
.projectImage {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
    border-radius: 8px;

    @media (max-width: 768px) {
        height: 300px;
    }
    @media (max-width: 468px) {
        height: 200px;
    }
}
.videoSliderContainer {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.title {
    font-family: 'RussiaMedium', Arial, sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bolder;
    color: #222;

    @media (max-width: 768px) {
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
    }
}

.meta {
    display: flex;
    justify-content: flex-start;
    font-size: 0.9rem;
    color: #555;
    max-width: 50%;
    padding-bottom: 3%;

    @media (max-width: 768px) {
        width: 100%;
        max-width: 100%;
        font-size: 0.8rem;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    span {
        margin-right: 1rem;
    }

    a {
        color: #0095da;
        transition: all 0.5s ease;

        &:hover {
            color: $primary-color-hover;
        }
    }

    .views {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}

.projectContentWrapper {
    display: flex;
    margin-top: 2rem;
    gap: 1rem;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.socialIcons {
    margin-top: 5%;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    width: 50px;
    flex-shrink: 0;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    @media (max-width: 768px) {
        position: static;
        width: 100%;
        margin-bottom: 1rem;
        justify-content: center;
        flex-direction: row;
    }

    @media (max-width: 428px) {
        display: flex;
        position: static;
        flex-direction: row;
        justify-content: space-between;
        width: 40%;
        margin: auto;
    }

    .icon {
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 8px;
        transition:
            0.5s ease,
            transform 0.5s ease;
        font-size: 24px;
        color: #555;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            transform: scale(1.1);
        }

        @media (max-width: 768px) {
            width: 40px;
            height: 40px;
            font-size: 20px;
        }
    }
}

.content {
    flex: 1;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;

    @media (max-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    p {
        margin-bottom: 1rem;
    }
}

.paragraph {
    margin-bottom: 1rem;
    line-height: 1.6;
    font-size: 1.2rem;

    @media (max-width: 768px) {
        font-size: 1rem;
        line-height: 1.4;
        width: 90%;
        padding: 10px;
        justify-content: center;
    }
}

.notFound {
    color: black;
    margin-top: 15%;
    text-align: center;
    font-size: 1.5rem;
}
